:root {
    --black: rgb(5, 5, 5);
    --red-dark: rgb(100, 0, 0);
    --red-light: rgb(255, 0, 0);
}

@font-face {
    font-family: "pixel";
    src: url("../fonts/Retro_Gaming.ttf");
}

body {
    height: 100vh;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

p {
    color: white;
    font-family: pixel;
    font-size: 30px;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 23px;
    border-bottom: 2px red solid;
    display: flex;
    justify-content: space-between;
}

.menu button {
    background-color: transparent;
    border: 0 transparent solid;
    padding: 0;
}

.menu img:hover{
    box-shadow: 0 -1px 2px 2px var(--red-light);
}

.menu img {
    border: 1px var(--red-light) solid;
    height: 23px;
}

.pic-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pic-holder>div>img:has("axoltl") {
    height: 469px;
}